name: Presubmit
on: [push, pull_request]

jobs:
  format:
    name: Code formatting check
    runs-on: ubuntu-20.04
    steps:
      - name: Install packages
        run: sudo apt-get install -y clang-format
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check format
        run: |
          ./tests/check-format.sh
  build:
    name: Build ${{ matrix.os }}
    needs: format
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Build
        run: |
            set +x
            mkdir build
            cd build
            cmake ..
            make -j2 VERBOSE=1
